.carousel-item {
  filter: blur(3px); /* Add a blur effect to all items */
}

.carousel-item.active {
  filter: none; /* Remove blur for the active item */
}

.carousel-item-left, .carousel-item-right {
  filter: blur(3px); /* Blur the adjacent items */
}

.carousel-inner {
  display: flex;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} 

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(0, 0, 0);
}
 
.seriesmain {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.movies, .series {
  margin-bottom: 40px;
  display: flex;
}

.movie, .serie {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: 30%;
  text-align: center;
  background-color: rgba(180, 187, 79, 0.644);
  border-radius: 5px;
}

.movie img, .series img {
  max-width: 100%;
  height: auto;
}

.seriesbutton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.reproductormain { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#videoContainer {
  max-width: 50%;
}
@media (max-width: 768px) {
  .movie, .serie {
      width: 100%; /* Full width for smaller screens */
  }
}
